<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript">
	 $(function(){
			
			document.getElementById("btn-b").addEventListener("click", function(){
			//서버로 요청해서 현재 로그인중인지 체크
				$.ajax({
					url:"/member/signin-check",
					success:function(result){
						if(result){
							//true이면: 게시판페이지 이동
							location.href="/board";
						}else{
							//권한이 없으면
							alert("로그인후 이용가능합니다.");
							location.href="/signin";
						}
					}
				});
			});
		});
	
	
				
	</script>	
</head>
<body>

	<header th:fragment="header">
		<h1>헤더영역</h1>
		<div>
			<a href="/">HOME</a>
			<a href="/signup">회원가입</a>
			<span th:unless="${session.loginfo}">
				<a href="/signin">로그인</a>
			</span>
			<span th:if="${session.loginfo}">
				<a href="#" th:text="${session.loginfo.name}">이름출력</a>
				<a href="/member/signout">로그아웃</a>
			</span>
			<button type="button" id="btn-b">마이바티스-게시판</button>
			<a href="/boardjpa"><button type="button" id="btn-b2">jpa-게시판</button></a>
		</div>
	</header>
</body>
</html>