<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h1>회원가입</h1>
		<div>
			<a href="/">HOME</a>
			<form action="/login/signup" method="post">
				<table>
					<tr>
						<th>이메일</th>
						<td>
							<input type="text" name="email" >
						</td>
					</tr>
					<tr>
						<th>닉네임</th>
						<td>
							<input type="text" name="nickName" >
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td>
							<input type="password" name="pass" >
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit">회원가입</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</main>
</body>
</html>