<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h1>로그인페이지</h1>
		<div>
			<p><a href="/">HOME</a></p>
			<p th:if="${errMsg}" th:text="${errMsg}">여기에 에러메세지가 입력됩니다.</p>
			<form action="/login/signin" method="post">
				<p>S
					<input type="text" name="email" placeholder="이메일">
				</p>
				<p>
					<input type="password" name="pass" placeholder="비밀번호">
				</p>s
				<p>
					<button>로그인</button>
				</p>
			</form>
			
		</div>
	</main>
</body>
</html>